* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  max-width: 1200px;
  margin: auto; }

h1 {
  text-align: center; }

a {
  color: inherit;
  text-decoration: inherit; }

.app {
  margin: auto; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.recipe {
  border: solid red;
  margin: 10px;
  width: 250px;
  height: 250px;
  position: relative; }
  .recipe .recipe-name {
    font-size: 22px;
    text-align: center;
    margin: 15px 0 5px 0;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 40px; }
  .recipe .fontawesome {
    position: absolute;
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 50px;
    margin: 10%; }
  .recipe img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    height: 125px;
    width: 100%; }
  .recipe h5 {
    text-align: center; }

@media screen and (max-width: 750px) {
  .recipe {
    width: 155px;
    height: 130px; }
    .recipe img {
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      height: 65px;
      width: 100%; }
    .recipe h5 {
      display: none; } }

.recipe-del-btn {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  right: -50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100px; }

.focused-main {
  z-index: 100;
  background: lightblue;
  padding: 15px 15px 7px 15px;
  border: solid;
  border-radius: 10px;
  min-height: 300px;
  max-width: 350px;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto; }
  .focused-main h2 {
    margin: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 15px; }
  .focused-main .img-url-parrent h5 {
    margin: 0; }
  .focused-main .img-url-parrent #imgUrl {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    padding: 5px; }
  .focused-main button {
    border-radius: 7px;
    margin: 2px; }
  .focused-main .bottom-btns {
    margin: 12px 0 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .focused-main ul {
    padding: 0; }
  .focused-main li {
    margin: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: decimal; }
    .focused-main li input {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-left: 5px; }
    .focused-main li .ingrd {
      margin-left: 5px;
      padding: 3.5px;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }

.focus-out {
  z-index: 99;
  position: fixed;
  background: grey;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
