*
 // border: solid

body
  // max-width: 500px
  // margin: auto
.app
  margin: auto

.main
  max-width: 900px
  display: flex
  flex-wrap: wrap

.recepie
  box-sizing: border-box
  border: solid red
  margin: 10px
  width: 250px
  padding: 8px

.recepie-name
  font-size: 25px
  text-align: center

.recepie-ingredients
  list-style: none
  margin: 0
  padding-left: 0

.recepie-remove-ingr
  // display: none
